* {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}
.brandButtons {
  background-color: #ebebeb;
}
.brandButtons:hover {
  background-color: #05da73;
  color: white;
}
.brandButtons:active {
  background-color: #97f784;
}
